/*
 * Colour Style Document for ResourceSpace
 *
 * Standard colour and decorative css should be contained within this file
 * Standard structural styling should be placed inside global.css
 * 
 */

/* Default text and background colour */
body,html {color:#474747;background: #f2f2f2;}

h1, h2 {color: #000000;}
a:link {color:#666666;}
a:visited {color:#666666;}
a:hover {color:#000000;}
a:active {opacity:0.6;}

input[readonly] {
    color: #000000;
    box-shadow: none;
    border: none;
}

/* Header styling */
#Header {background: rgba(0, 0, 0, 0.6);transform: translate3d(0, 0, 0);border: none;}
#Header li a {color:#fff; opacity:0.7;}
#Header a:hover,
#Header .current {opacity:1;text-decoration: none}

/* Colours for $header_text_title */
#TextHeader, #TextHeader a, #TextDesc {color:#fff;}

.FormError {color: #FF0000;}
.FormIncorrect {color: #FF0000;border: 1px solid #BBBBBB;background: #FFFFFF;}
.PageInformal {border: 1px solid #c0c0c0;background: #FFFFFF;}
.HorizontalWhiteNav a:link, 
.HorizontalWhiteNav a:visited, 
.HorizontalWhiteNav a:active, 
.BasicsBox .VerticalNav a:link, 
.BasicsBox .VerticalNav a:visited, 
.BasicsBox .VerticalNav a:active,  
.ListTitle a:link, 
.ListTitle a:visited, 
.ListTitle a:active {color:#666666;}
.HorizontalWhiteNav a:hover, .BasicsBox .VerticalNav a:hover, .ListTitle a:hover {color:#2e99e6;}

/* Search Bar */
#SearchBoxPanel a:link, #SearchBoxPanel a:visited, #SearchBoxPanel a:hover,
#ResearchBoxPanel a:link, #ResearchBoxPanel a:visited, #ResearchBoxPanel a:hover, #ResearchBoxPanel a:active,
.SearchSpace a:link, .SearchSpace a:visited, .SearchSpace a:hover, .SearchSpace a:active {
    color:#fff;text-decoration:none;
}

.RecordPanel, .ResourcePanelSmall, .ResourcePanelLarge{background: #eee;}
#ResearchBoxPanel, .HomePanelIN, .RecordPanel .RecordDownload, .RecordPanel, .ResourcePanelLarge {
    border-radius:4px;
    overflow: hidden;
}
.ResourcePanel {
    background-color: white;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.ResourcePanel:hover {
    box-shadow: 0 1px 10px 0px rgba(0,0,0,0.3);
    z-index: 100;
}

/* Tooltips */
#easyTooltip {
    background: white;
    background-image: none;
    border: 1px solid;
    border-radius:5px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
}
#advancedTooltip {
	background: inherit;
    background-image: none;
	border: 1px solid;
	border-radius:5px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
}

#SearchBoxPanel h2, #ThemeBoxPanel h2, #ResearchBoxPanel h2, .SearchSpace h2{color: #fff;}

/* Collection Bar */
.ui-layout-resizer {background: #444444;}
.ui-layout-toggler-open-hover{border-radius:2px;}
.CollectBack {color:#E0E0E0;background: #2b2b2b;}
.CollectBack a:link, .CollectBack a:visited, .CollectBack a:active,.CollectBack h2,.BrowseBar a:link,.BrowseBar a:hover, .BrowseBar a:visited, .BrowseBar a:active,.BrowseBar h2 {color:#E0E0E0;}
.CollectBack a:hover{color:#FFF;}
.CollectBack h2 a:link, .CollectBack h2 a:visited, .CollectBack h2 a:active, .CollectBack h2 a:hover {color:white;}
#CollectionMinRightNav li {border-left:1px solid #E0E0E0;}
.CollectionPanelShell {background-color: #444;}

/* Related resources */
#RelatedResources .CollectionPanelShell {background-color: #fff;}

/* Home */
.HomePanel a:link, 
.HomePanel a:visited, 
.HomePanel a:active, 
.HomePanel a:hover,
.HomePanel h2 {color:#FFF;}
#HomeSiteText {padding:10px;}
#HomeSiteText.dashtext h1 {color:#FFF;}
#SlideshowContainer #HomeSiteText.dashtext h1 {color:#373737;}
#SlideshowContainer #HomeSiteText.dashtext {background:transparent;border:none;color:#373737;}

#SearchBox,#HomeSiteText.dashtext,.HomePanelIN, .PopupCategoryTree, #BrowseBar, #BrowseBarTab, #FilterBarContainer{
	background: rgba(0, 0, 0, 0.47);
	color:#FFF;
}

.CollectImageBorder {border: 1px solid #000000;}	
.ASC::before	{content: " \25BC";font-size:80%;}
.DESC::before	{content: " \25B2";font-size:80%;}

.NavUnderline,.Question,.QuestionSubmit {border-bottom: 1px solid #e2e2e2;}

/* Table header styling */
.ListviewStyle thead, .ListviewTitleStyle {
    background: gray;
    text-transform: uppercase;
}
.ListviewTitleStyle td, .ListviewTitleStyle a, .ListviewTitleStyle a:visited {
    color: #fff;
    font-size: 0.875rem;
}
.ListviewTitleStyle a:hover {
    color: #d4d4d4;
    text-decoration:none;
}

.Question select .optionWeekend { background-color: #ccc; }
.lockedQuestion {background-color: #ddd; }
.Question.FieldSaveError {background: #F1A9A0;}
div.autocomplete {background-color:white;border:1px solid #888;}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {color: #000;}
#outerImageContainer{ background-color: #fff;}
#imageDataContainer{ background-color: #fff;}
#imageData{color: #666;}
#imageData #caption{ font-weight: bold;	}
#overlay{ background-color: #000;}
.FormHelpInner{background-color:#ffffff;border:1px solid #2e99e6;border-radius:4px;}
.RecordDownloadSpace .HorizontalWhiteNav a:active, .RecordPanel .RecordDownloadSpace .HorizontalWhiteNav a:hover {color:#FFFFFF;} 
.NoFind {border: none;background: #FFFFFF;}
.NoFind .highlight {color:#000000;font-weight: bold;}
.NoFind a:link, .NoFind a:visited, .NoFind a:hover, .NoFind a:active {color:#2e99e6;text-decoration:underline;}
.RecordPanel .Title,  {	border-bottom: 1px solid #BBBBBB;}
.ViewPanelTitles .Title { border-bottom: 0; }
.RecordDownload {  background: #fff;}
.RecordPanel .RecordDownload .DownloadDBlend td {border-top: 1px solid #ddd;color: #333;padding: 0.4rem 0.2rem;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend .DownloadButton {background: transparent;background-color: transparent;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend p {color: #888;text-align: left;font-size: 0.75rem;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend {background: #fff; border-color: #6D6D6D;}
.ArchiveResourceTitle, .ResourcePendingSubmissionTitle, .ResourcePendingReviewTitle {color: #888;}
.DeletedResourceTitle {color: #FF0000;}
.RecordStory{color: #000000;background: #FFFFFF; .Rec border-top : 1px solid #ddd;}
.RecordStory h1{color: #000000;}
.RecordStory a:hover{color: #000000;}
.RecordStory .highlight {color:black;}
.BasicsBox .HorizontalNav li {border-right:1px solid #B5C3D4;border-top-style: none;border-bottom-style: none;border-left-style: none;}
.ThemeBox {border-bottom: 1px solid #BBBBBB;}
.CategoryBox {border:1px solid rgba(0,0,0,0.25);background-color:#ffffff;color: black;font-weight: normal; border-radius: 4px;}
.MiniCategoryBox {border:1px solid rgba(0,0,0,0.25);background-color:#ffffff;color: black;font-weight: normal; border-radius: 4px;}
.CategoryTree {border-top:1px solid #737373;border-left:1px solid #999999;border-bottom:1px solid #999999;border-right:1px solid #999999;background-color:white;color: black;font-weight: normal;}

/* Star Ratings */
.StarSelect {background: transparent url('../gfx/interface/RatingStarYellow.gif') no-repeat;}
.StarWhite {background: transparent url('../gfx/interface/RatingStarWhite.gif') no-repeat;}
.StarGrey {background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}
.StarEmpty {background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}
.StarCurrent {background: transparent url('../gfx/interface/RatingStarRed.gif') no-repeat;}
.IconUserRatingStar {background: url(../gfx/interface/RatingStarRed.gif) no-repeat;}
.IconUserRatingSpace {background: url(../gfx/interface/RatingStarBlank.gif) no-repeat;}
.RatingStars a:hover {text-decoration:none;}
#RatingStarLink0 {color: #888;}

.Listview .ListViewSubTable,.Listview .ListViewSubTable td,.Listview .ListViewSubTable tr {background-image: none;}
.Listview {background-color: white;border-radius:6px;}
.highlight {color: #000;background-color: #ff0;}
.Tab a {color: #aaaaaa; padding: 8px 1rem;}
.StyledTabbedPanel {background: #fff;}
.TabSelected {border-top: 1px solid #ffffff; border-left: #bbbbbb;}
.TabSelected a {background: #ffffff; color: #666666; border-bottom: 1px solid #ffffff; }
.InfoTable {border-collapse:collapse;border-radius: 4px;}
.InfoTable {background: #fff;}
.InfoTable tr+tr>td {border-top:1px solid #ddd;}
.InfoTable td+td {border-left:1px solid #BBBBBB;}
#InfoBoxInner {color:black;}
#InfoBoxInner h2 {color:black;font-weight:bold;}
#InfoBoxInner p {color:black;}
#InfoBoxCollectionInner {color:black;}
#InfoBoxCollectionInner h2 {color:black;}
#InfoBoxCollectionInner p {color:black;}
.ListviewBoxedTitleStyle td {background-color:#fff;}
.NewFlag {background-color:#737373;color:#fff;}

/* Mouseover effect on list views */
.ListviewStyle tr:hover td {background-color: #EEE;} 
.ListviewStyle tr.ListviewTitleStyle:hover td {background:none;background-color:#555;} 
.ListviewStyle tr.ListviewBoxedTitleStyle:hover td {background:none;background-color:#555;} 

/* Single file upload progress bar */
.meter-value {background-color: #BBBBBB;}
.meter-wrap{border:1px solid #BBBBBB;}

.Terms{color:#000;border: 1px solid #ccc;background: #fff;}
.ui-layout-toggler-open-hover{background-color:rgba(255,255,255,0.3);}

.proptitle{color: #FFFFFF;background: rgb(119,119,119);}	
.propbox{color: #000000;background: #FFFFFF;}
.propbox a:link {color: rgb(115,115,115); background: none;}
.propbox a:visited {color: rgb(115,115,115); background: none;}
.propbox a:hover {color: #000000; background: none;}
.propbox a:active {color: #000000; background: none;}
.permissionstable tr td.permheader{color: #000000;background: rgb(221,221,221)}
.permissionstable tbody{color: #000000;}
.CodeMirror-wrapping{color: #000000;background: #FFFFFF;}

.CommentBody { color: #000000}

/* Dash Tiles */
#dash_tile_bin.ui-state-hover {
    background:#000;
    background:rgba(0, 0, 0, 0.55);
    border:#2f2f2f 1px solid;
    color:#d7d7d7;
}
#dash_tile_bin.ui-state-active {
    background: rgba(114, 22, 37, 0.51);
    border: 1px solid #d0d0d0;
}
.dash_tile_bin_text {color: #fff;}

/* Shadowy Styling */
.HomePanelDynamicDash.TileContentShadow h2, .HomePanelDynamicDash.TileContentShadow p, .HomePanelDynamicDash.TileContentShadow,
.TileContentShadow {
    text-shadow: 1px 1px 8px #090909;
    color:#fff;
}
.HomePanel h2.title {background: transparent;color:#fff;}
.HomePanel .HomePanelDynamicDash h2{background:transparent;}
.HomePanelDynamicDash p.tile_corner_box {background: rgba(19, 19, 19, 0.67);border-top-left-radius: 5px;color:#fff;}

/* Delete Dialog */
.delete-dialog .ui-dialog-titlebar,  .ui-dialog-titlebar{
    background-color: #d7d7d7;
    background: linear-gradient(#d3d3d3,#dfdfdf);
    border: #878787;
    color: #3A3A3A;
}
.delete-dialog .ui-state-default .ui-button-text, .ui-state-default .ui-button-text{color: #000000;background-color: #FFF;}
.delete-dialog .ui-state-default.ui-state-hover .ui-button-text, .ui-state-default.ui-state-hover .ui-button-text {color: #FFF;background-color: #3A3A3A;}
.delete-dialog .ui-state-default.ui-state-focus, .ui-state-default.ui-state-focus {border:solid 1px #878787;}
.delete-dialog .ui-state-default.ui-state-hover, .ui-state-default.ui-state-hover {border:solid 1px #878787;}

/* Trash Bin */
#trash_bin.ui-state-hover {
    border: #2f2f2f 1px solid;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
#trash_bin.ui-state-active, .ui-state-active {border: 1px solid #d0d0d0;background: rgba(114, 22, 37, 0.51);}
.trash_bin_text {color: #fff;}
.ui-draggable-dragging {border: 2px solid; transition: none;}

/* Modal */
#modal_overlay {
    background: #000;
}
#modal {
    background-color: #f3f3f3;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    border-radius: 6px;
}
#modal .RecordHeader, #modal .BasicsBox h1, #modal .TopInpageNav {
    background: none;
    color: #999;
}
#modal .RecordHeader h1, #modal .BasicsBox h1 {
    color: #333;
}

#CollectionDiv select {
    background-color: #555;
    color:#fff;
    border:none; 
    height: 26px;
    padding-left: 5px;
    min-height: 20px;
}

/* Messaging */
span.Pill {
    color: white;
    background: red;
}
div.MessageBox {
    border: 1px solid darkgray;
    background: rgba(220,220,220,0.9);
}
div.MessageBox a {
    color: inherit !important;
}

/* Login box */
#login_box {background: rgba(0, 0, 0, 0.6)}
#login_box .Question {background:none;border-bottom:1px solid #666;}
#login_box .QuestionSubmit {background:none; border: none;}
#login_box .Question .stdwidth {width: 412px;}
#login_box, #login_box h1,  #login_box a {color: #FFF;}

/* Highlighting required fields in certain plugins */
.highlighted {border: 3px solid #F00 !important;}

UL.jqueryFileTree A {color:#000;background-color:initial;}
UL.jqueryFileTree A:hover {background-color:initial !important;}

#previewimage, #previewimagecopy {box-shadow: 0 2px 6px rgba(0,0,0,0.2 );}

/* chosen collection div */
#CollectionDiv #MinColDrop .chosen-single:hover, #CollectionDiv #colselect .chosen-single:hover {color:#444;}
#CollectionDiv .ActionsContainer .chosen-single:hover {color:#999;}

.FeaturedSimpleTile {
    background: rgba(30, 30, 30, 0.70);
    color:#FFF;
}

/* Highlight selected keywords */
input:checked + .customFieldLabel, .keywordselected {
    background-color: #2e99e6;
    color: #fff;
}
  
#LoadingBox {
    background-color:white;
    color:black;
}

.ReportSheet {background-color:#fff;border:1px solid black;color:black;}
.ReportSheet  h2 {color:black;}
.ReportSheet  p {color:black;}
.ReportSummary {background-color:white;color:black;border-collapse:collapse;}
.ReportSummary td {border:1px solid #888;color:black;}
.ReportMetric {color:black;}

.BreadcrumbsBox {color:#FFF;}
.BreadcrumbsBox a, .BreadcrumbsBox a:link, .BreadcrumbsBox a:visited { color: #FFF; }

.TopInpageNav select {
    background-color: #fff;
}

.keywordselected a:visited, .keywordselected a:link {
    color: #fff;
}

#Header #ssearchbox:focus {
    background-color: #fff;
}

/* Highlight number of returned search results */
#SearchResultFound .Selected {
    font-weight: bold;
}

/* Browse bar */
#BrowseBar a, #BrowseBarTab, #BrowseBarTab a:hover {color: #fff;}
.BrowseBarText {color: #fff;}
.BrowseBarItem.ui-droppable-hover a .BrowseBarLink{border: 2px solid #FFF;}

/* Scrollbar styling */
::-webkit-scrollbar:vertical {width:12px;}
::-webkit-scrollbar:horizonal {height:12px;}
::-webkit-scrollbar,::-webkit-scrollbar-corner {background:none;}
::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.3);border-radius: 6px;}
::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.35);border-radius: 6px;}
::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.4);border-radius: 6px;}
