/*
 * Global Style Document for ResourceSpace
 *
 * Standard structural styling
 * 
 */

/* Default font-family */
body, input, textarea, select, h2, h3, h4, h5, h6, .Title, .ListviewTitleStyle, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .ui-widget {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

select {font-size:1em; height:1.8rem;}

/*Create Base font for relative sizing*/
html {height:100%;}
body {width:100%;height:100%; margin:0;padding:0;font-size:15px;text-align: center; line-height: 1.4;}

.ui-dialog .ui-dialog-buttonpane {text-align: center;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float: none;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button{width:100%;}

/*Basic tag setup for creating standards across platforms and browsers*/
p, h1, h2, h3, h4, h5 {padding:0; margin:0; vertical-align:top;}
p {padding:0 0 1em; margin:0; font-size:1em;}
h1 {padding:0.5em 0;margin:0;font-weight: normal;font-size: 1.5rem;}
h2 {padding:0.1em 0;margin:0;font-weight: normal;font-size:1.5em;}
h3 {font-size:1.25em; padding:0.5em 0 0.5em 0; margin:0;font-weight:normal;}
h4 {font-size:1em; padding:0.5em 0 0.5em; margin:0;font-weight:normal;}
h5 {font-size:0.75em; padding:0.5em 0 0.5em 0; margin:0;font-weight:normal;}
img {border:0}
em {font-style: italic;}
strong {font-weight: bold;}
ol, ul {margin:0 0 0 2.5em;padding:0 0 1em;}
ul ul, ul ol, ol ul, ol ol {margin:0 0 0 2.5em;padding:1em 0 0em;}
li {padding:0em 0 1em;margin:0;}
blockquote {padding:0 0 2em; margin:0em 2.5em;}
blockquote blockquote {padding:1em 0 2em; margin:0em 2.5em;}
a:link, a:visited {text-decoration:none;}
a:hover, a:active {text-decoration:underline;}
input,textarea {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
option {font-size:1em;}

p.tight {padding:0 0 0.75em;}
input[readonly] {background: none;}
input.defaultbutton {position: absolute; left: -100%; width: 0; height: 0;}

/* Form elements */
input, textarea, button, select, .RecordPanel .RecordDownloadSpace .DownloadDBlend a, .sp-replacer {
    font-size: 0.875rem;
    border-radius: 4px;
}

input[type="text"], input[type=submit], input[type=button], input[type="password"], input[type="url"],input[type="email"], input[type="number"], textarea, button, select {
    padding: 4px 6px 4px 6px;
    vertical-align: middle;
    min-height: 28px;
}

input[type="text"], input[type="password"], input[type="number"], textarea, select, .sp-replacer {
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
 }

.TopInpageNavLeft select, .TopInpageNavLeft select:focus {
    border: none;
}

button, input[type=submit], input[type=button], .RecordPanel .RecordDownloadSpace .DownloadDBlend a {
    border: 1px solid transparent;
    background-color: #2E99E6;
    background-image: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
}

.RecordPanel .RecordDownloadSpace .DownloadDBlend a {
    line-height: 1.8rem;
    padding: 0 1rem;
    vertical-align: middle;
    display: block;
}

button, input[type=submit], input[type=button], .RecordPanel .RecordDownloadSpace .DownloadDBlend a {
    text-align: center;
}

button:hover, input[type=submit]:hover, input[type=button]:hover, .RecordPanel .RecordDownloadSpace .DownloadDBlend a:hover,.UploadButton a {
    background: #1378BF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

button:active, input[type=submit]:active, input[type=button]:active, .RecordPanel .RecordDownloadSpace .DownloadDBlend a:active
{
    background: #1378BF;
    box-shadow: none;
}

span+input {
    margin-left: 2rem;
}

select, .sp-replacer {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDIyIDEzIj4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTQpIj4KICAgIDxyZWN0IHdpZHRoPSIyMiIgaGVpZ2h0PSIxMSIgeT0iMiIvPgogICAgPHBvbHlsaW5lIHN0cm9rZT0iIzJFOTlFNiIgc3Ryb2tlLXdpZHRoPSIyIiBwb2ludHM9IjkuNTk2IDEuNDc1IDkuNTk2IDguNTk2IDIuNDc1IDguNTk2IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSA2LjAzNiA1LjAzNikiLz4KICA8L2c+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: right 65%;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
    position: relative;
    z-index: 0;
    padding-right: 30px;
    display: inline-block;
    background-color: #fff;
}

select:before {
    content: "\f078";
    color: #2e99e6;
    display: inline-block;
    font: normal normal normal 14px/1 "Font Awesome 5 Free";
    font-weight: 600;
    outline: 1px solid red;
    text-rendering: auto;   
    position: absolute;
    right: 2rem;
    z-index: 1;
}

input:focus, textarea:focus, select:focus, .RecordPanel .RecordDownloadSpace .DownloadDBlend a:focus {
    box-shadow: 0 0 6px hsla(205, 79%, 54%, 0.5);
}

/* Hide arrow on selects in IE */
select::-ms-expand
    {
    display: none;
    }

#clearbutton {margin: 10px 5px 0 0;width: 122px;}
#searchbutton{ width: 122px;margin: 10px 0 0 0;}
/*General tags*/
.clearer {clear:both;}
.clearerleft {clear:left;}
.Hidden {visibility: hidden;height: 0;width: 0;overflow: hidden;}
.nowrap {white-space:nowrap;}
.textcenter {text-align:center;}
.breakall {word-break:break-all;}
.underline{text-decoration: underline;}
.pageline{border-bottom: 1px solid #d7d7d7;  margin-right:10px;margin-left:5px;}
.DisplayNone { display: none; }

/* General Form tags */
.checkoption {vertical-align: top;display: inline-block;width: 195px;margin: 2px; *display:inline;*zoom: 1;}
.checkbox {margin-right: 3px;vertical-align: top;display: inline-block;*display:inline;*zoom: 1;}
.checkboxtext {margin-right: 2px;width: 160px;display: inline-block;*display:inline;*zoom: 1;}
.checkboxes{margin-top: 5px;padding-left: 300px;}
.verticalcheckboxes {padding-left: 300px;}

.editcheckboxes {float:left;padding-left: 300px;}

.radioblock { float: left;padding-left: 300px;clear: left;margin-top: -1em;}
.radiotext label.customFieldLabel {float:none;}
.radiotext {margin-right: 2px;width: 160px;display: inline-block;*display:inline;*zoom: 1;}
.radio{margin-right: 3px;vertical-align: top;display: inline-block;*display:inline;*zoom: 1;}
.radiooption {vertical-align: top;display: inline-block;width: 195px;margin: 2px; *display:inline;*zoom: 1;}
#custom_access {padding-left: 300px;}
#custom_access .radiooptions{margin: 5px;}

/*General layout*/

#Header {padding: 5px 25px 5px 25px;margin:0;margin-bottom:10px;text-align:left;background-image:none;display: block !important;}
#TextHeader{font-size:25px;float:left;}
#TextHeader a {text-decoration:none;}
#TextDesc{font-size:1em;float:left;display:block;clear:left;}

#header_search_form_button { display: none; }

.headerlink {margin:20px 25px; position: absolute; display: block; width: 400px; height: 55px;  top: 0px; left: 0px;}
.TeamCentreAlertIcon { position: relative; top: 3px;}

.ui-layout-container{overflow:auto;}
#HeaderNav1, #HeaderNav2 {padding:0;}
#HeaderNav1 {float:right;}
#HeaderNav2 {padding-left: 30px;}
#HeaderNav1 ul, #Headernav2 ul {padding: 0.2em 0em;}
.HeaderImgLink{float:left;height:100%;width: auto;margin-right: 20px;}
#HeaderImg{margin:0;max-height: 40px; }
.HorizontalNav li,  .HorizontalNav li {display: inline-block;zoom: 1;*display: inline;}
.HorizontalNav li a, .HorizontalNav li a{display: inline-block;zoom: 1;*display: inline;}
.RecordBox {margin: 10px 20px 10px 0;}
h2#CollectionsPanelHeader {display:none;}

/* Header size variants */
.HeaderSmall #HeaderNav1,  .HeaderSmall #HeaderNav2 {margin:2px 0 0 0;line-height: 30px;}
.HeaderSmall #HeaderImg{max-height:40px;}
.HeaderSmall #HeaderNav1 {height:30px;}
.HeaderSmall {min-height: 30px;}

.HeaderMid #HeaderNav1, .HeaderMid #HeaderNav2 {margin:12px 0 0 0;line-height: 35px;}
.HeaderMid #HeaderImg{max-height:50px; margin-top: 3px;}
.HeaderMid #HeaderNav1 {height:47px;}
.HeaderMid {min-height: 47px;}

.HeaderLarge #HeaderNav1, .HeaderLarge #HeaderNav2 {margin:5px 0 0 0;line-height: 20px;}
.HeaderLarge #HeaderImg{max-height:85px;}
.HeaderLarge #HeaderNav1 {height:70px;}
.HeaderLarge #HeaderNav2 {float:right; clear:both; padding-left: 20px;margin-top:0;}
.HeaderLarge {min-height: 85px;}

#HeaderNav1 .fa-user, #HeaderNav1 .fa-bars
    {
    font-size: 24px;
    }
    
/* Parent height set so that svg files scale correctly */
.HeaderSmall .HeaderImgLink
    {
    height: 40px;
    }
.HeaderMid .HeaderImgLink
    {
    height: 50px;
    }
.HeaderLarge .HeaderImgLink
    {
    height: 70px;
    }

/* Fix for .svg files */
img[src$=".svg"]
    {
    height: 100% !important; 
    }

/* Slim header with fixed top bar */
div#Header.SlimHeaderFixedPosition { width: 100%; position:fixed; top: 0px; z-index: 1100; }
div#Header.SlimHeaderFixedPosition #HeaderNav1 { margin-right: 25px; }
div#Header.SlimHeaderFixedPosition #HeaderNav2 li:last-child { margin-right: 40px; }
div#CentralSpaceContainer.SlimHeaderFixedPosition { margin-top: 100px; }

#Footer {clear: both; margin:20px 25px 38px 25px;padding:0;text-align:left;}
#FooterNavRight {float:right;text-align:right;margin-top: 10px;clear: right;}
#FooterNavRightBottom {float:right;text-align:right;margin-top: 10px;clear: right;}
#FooterNavLeft {float:left;text-align:left;margin-top: 10px;}
#FooterLanguages{margin-left:15px;}
#login_box #Footer {margin: 0px 0px 10px 0px;}

#CentralSpaceContainer {
    margin:0px 15px 20px;
    padding:0 0 0 0;
    text-align:left;
    }
#CentralSpaceContainerRestrict {margin:0px 15px 20px 25px;padding:0;text-align:left;}
#CentralSpaceLogin {margin: 2em auto 4em;padding:0;width: 760px;text-align:left;}
#CentralSpace {text-align:left;position:relative;}

.TopInpageNav {clear: left;margin-bottom:20px;margin-right: 0;position:relative;}
.BottomInpageNav {clear: left;padding-top: 5px;margin: 20px 15px 20px 0px; position:relative;}
.BottomInpageKey {margin-right: 15px; clear: left; text-align: left;}
.TopInpageNavLeft{float:left;padding-right:120px;}
.TopInpageNavRight{position:absolute;right:0;top:3px;width:max-content;text-align:right;}
.InpageNavLeftBlock {display:inline-block; *display: inline; *zoom: 1;text-align:left;margin: 0 20px 0 0;}
.InpageNavRightBlock {display:inline-block; *display: inline; *zoom: 1;text-align:left;margin: 0 15px 0 0;}
.BottomInpageNavLeft {float:left;}
.BottomInpageNavRight{float:right;margin-right:10px;text-align:right;}
.BottomInpageNavRight .TopInpageNavRight {position:relative;}
.TopInpageNav a:link, .TopInpageNav a:visited, .BottomInpageNav a:link, .BottomInpageNav a:visited , #CentralSpaceLogin a:link, #CentralSpaceLogin a:visited {text-decoration:none;}
.TopInpageNav a:hover, .TopInpageNav a:active, .BottomInpageNav a:hover, .BottomInpageNav a:active, #CentralSpaceLogin a:hover, #CentralSpaceLogin a:active {text-decoration:underline;}

.HorizontalNav ul {padding:0.2em 0;margin:0;list-style:none;white-space: nowrap; overflow: hidden;font-size: 0px;}
.HorizontalNav li {display:inline;padding:0 0.35em 0 0.5em;margin:0px; font-size: 16px; line-height: 36px;}
.HorizontalNav a:link, .HorizontalNav a:visited {text-decoration:none;}
.HorizontalNav a:hover, .HorizontalNav a:active {text-decoration:underline;}
.HorizontalWhiteNav li:first-child {border-left:none;}
.HorizontalNav li:first-child {border-left:none;}
#CollectionMinRightNav li:first-child {border-left:none;}

/*Collection layout*/
#CollectionMenu{width: 206px;position: absolute;left: 25px;top: 6px;text-align:left;}
#CollectionMenuExp{width: 216px;position: absolute;left: 25px;top: 6px;text-align:left;}
#CollectionSpace{font-size: 0.95em;text-align:left; margin-top: 3px;}
.CollectionSpace{position: absolute;left: 249px;top: 6px;}
.CollectionSpaceExp {position: absolute;left: 249px;top: 6px;font-size: 0.95em;text-align:left;}
.CollectionStatsAnon {margin-bottom:15px;}
.CollectBack h2 {font-size: 1.3em;}
#CollectionMenu ul {padding:0.2em 0;margin:0;list-style:none;}
#CollectionMenu li {padding:0;margin:0px 8px 1px 0px;float:left;white-space:nowrap;}
#CollectionMenuExp ul {padding:0.2em 0;margin:0;list-style:none;}
#CollectionMenuExp li {padding:0;margin:0px 8px 1px 0px;float:left;white-space:nowrap;}
.CollectBack a:link, .CollectBack a:visited {text-decoration:none;}
.CollectBack a:hover, .CollectBack a:active {text-decoration:underline;}

.CollectBack form {padding:0; margin:0;}
.CollectBack .SearchWidth {width: 190px;font-size: 0.9em;margin: 0px 0px;padding-right: 28px;}
.CollectBack .SearchWidthExp {width: 200px;font-size: 0.9em;margin: 0px 0px;padding: 0px;}
.CollectBack .SearchItem {margin: 0 0 10px;padding: 0;}
.CollectBack .MinSearchItem {margin: 0;padding: 0;}

#CentralSpace .SearchWidth {width: 550px;font-size: 0.9em ;margin: 0px 0px;}
#CentraSpace .SearchWidthExp {width:200px;font-size: 0.9em ;margin: 0px 0px;padding: 0px;}
#CentralSpace .SplitSearch {float: left; margin-left: 5px;margin-right: 5px;}
.NumberSearchWidth {font-size: 0.9em;width:80px;font-size: 0.9em;margin: 0px 0px;padding: 0px;margin-bottom:3px;}

.CollectionPanelShell {padding:5px;float: left;margin: 0px 10px 10px 0px;width: 110px;text-align: left;border-radius: 4px;}
.CollectionPanelInfo{width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.CollectionResourceAlign {width:110px;height:90px;text-align: center;vertical-align: middle;}

#CollectionMinTitle{float: left;margin: 4px 10px 0px 25px;}
#CollectionMinDropTitle{float: left;padding:0.2em 0em;margin-top: 6px;}
#CollectionMinDrop{float: left;margin: 6px 0px 0px;padding:0.2em 0em}
#CollectionMinDrop form{margin:0;padding:0}
#CollectionMinitems{float: left;margin: 5px 10px 0px;padding:0.35em 0em}
#CollectionMinRightNav{float: right;margin: 5px 25px 0px 0px;padding:0.25em 0em}
#CollectionMinRightNav #toggleThumbsLink, #CollectionMinRightNav .ActionsContainer {float:right;}
#CollectionMinRightNav .ActionsContainer {margin-right:25px;}
.CollectionTitleLinks a {margin: 5px 4px;}

#CollectionMinDrop .SearchWidth {width: 150px;margin:0; min-height: 20px;}
#CollectionMinDrop .SearchWidthExp {width: 200px;font-size: 0.7em ;margin:0;padding: 0;}
#CollectionMinRightNav ul {padding:0em 0;margin:0;list-style:none;}
#CollectionMinRightNav li {display:inline;padding:0 0.35em 0 0.5em;margin:0px;}

/* Chosen support - General */
.chosen-container .chosen-results li {word-wrap: normal;}

/* Chosen support - Collection bar */
.chosen-container.chosen-drop-up.chosen-container-active.chosen-with-drop .chosen-drop {border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
.chosen-container.chosen-drop-up.chosen-container-active.chosen-with-drop .chosen-single {border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.chosen-container.chosen-drop-up .chosen-drop {top: auto; bottom: 100%;}
#CollectionDiv #CollectionMinDiv .chosen-drop {display:none;}
#CollectionDiv .chosen-results li.active-result {display:list-item; float:none; padding:5px 6px;}
#colselect2 .chosen-container, #CollectionMinDiv .ActionsContainer .chosen-container {text-align:left;}

/* Chosen support */
#CentralSpace .ChosenDateMonth {width:88px !important;}
#CentralSpace .ChosenDateDay, #CentralSpace .ChosenDateHour, #CentralSpace .ChosenDateMinute {width:60px !important;}

#CentralSpace .ChosenDateRangeMonth {width:115px !important;}
#CentralSpace .ChosenDateRangeDay {width:95px !important;}
#CentralSpace .ChosenDateRangeYear {width:100px !important;}

/*Right Search Box layout*/
#SearchBox {float: right; width: 295px;text-align:left; height: inherit; overflow-x: hidden;}
#SearchBoxPanel {width: 100%;}
#ResearchBoxPanel {width: 100%;margin-top: 15px;}
#SearchBox .PopupCategoryTree {display: none; text-align: left; z-index: 999; padding: 5px; background: none;}

/*Resource Panel layout*/
.ResourcePanel {padding:0;margin:0 14px 14px 0;width: 174px;float:left;height:230px;position:relative; overflow: hidden;}
.ResourcePanelPreview {height: 156px;width: 156px;margin: 3px;}
.ResourcePanelInfo {margin: 5px;overflow:hidden;white-space:nowrap;padding:0;text-align:justify;text-overflow: ellipsis;}   
.ResourcePanelCountry {margin-right: 5px;margin-left: 5px;margin-bottom: 0px;float: left;clear: left;display:inline;}   
.ResourcePanelIcons {padding: 5px;text-align:right;position:absolute;bottom:0;right:0;width:166px;} 
.ResourcePanelSmallIcons {padding-left: 5px;}   
.ImageWrapper {height:174px;display:block;padding:0;vertical-align: middle;text-align: center;clear: right;}
.ImageWrapperSmall {height:75px;display:block;padding:0;;vertical-align: middle;text-align: center;clear: right;}
.ImageWrapperLarge {height:320px; display:block; padding:0; vertical-align: middle; text-align:center; clear:right;}

.ResourceAlign {width:172px;height:177px;text-align: center;vertical-align: middle;}
.ResourceTypeIcon { height: 16px;width:16px;float:right;margin-right:5px;margin-top:6px; }
.ResourcePanelShell a:link, .ResourcePanelShell a:visited {text-decoration:none;}
.ResourcePanelShell a:hover, .ResourcePanelShell a:active {text-decoration:underline;}
.ResourcePanelShell.ui-draggable {text-align: left;}

.ResourcePanelShellSmall {padding:0;float: left;margin: 0px 15px 10px 0px;width: 105px;}
.ResourcePanelSmall {padding:0;margin:0;width: 105px;padding-bottom:5px;}
.ResourceAlignSmall {width:105px;height:90px;text-align: center;vertical-align: middle;}

.ResourcePanelShellLarge {padding:0 0 10px; float: left;margin: 0px 15px 0px 0px;width: 365px;}
.ResourcePanelShellLarge.ui-draggable {text-align: left;}
.ResourcePanelLarge {width: 320px;}
.ResourcePanelLarge .ResourcePanelIcons {font-size:1.25em; width: 310px;}
.ResourcePanelSmall .ResourcePanelIcons {font-size:0.8em;}
.ResourceAlignLarge {width:365px;height:365px;text-align: center;vertical-align: middle;}

.ResourcePanelIcons a, .CollectionPanelTools a  {;margin-left: 3px;margin-right:2px; text-decoration:none;}
.CollectionPanelTools .fa, .CollectionPanelTools .fas {font-size: 13px;}
.ListTools a    {float: right;margin-left: 5px;text-decoration:none;}
.ResourcePanelIcons a:hover {text-decoration:none;}
.ListTools a:hover  {text-decoration:none;}
a:hover .fa,.fa:hover {text-decoration:none !important;} /* Never underline a FontAwesome icon */

.ResourceSelect {display:block;float:right;}
.IconUserRatingStar {width:13px;height:15px;padding: 0;margin-bottom:6px;display: block;}
.IconUserRatingSpace    {width:7px;height:10px;padding: 0;margin-bottom:6px;display: block;float: left;}
.ASC {display: inline;padding-right: 10px;}
.DESC {display: inline;padding-right: 10px;}

/*Resource Panel layout*/
.Listview {overflow-x:auto; margin: 0 0 25px 0;}
.ListviewTight {margin: 5px 10px 5px 0;}
.Listview table{ width:100%;}
.Listview td {padding:6px 8px 6px 8px;vertical-align: top;}
.ListTools {text-align: right;}
.ListTitle {font-weight: bold;}
.Listview .IconStar {width:11px;height:12px;padding: 0;display: block;float:left;}

/*Search Panel layout*/
.SearchSpace {padding: 15px;width: auto;}
.SearchSpace p {padding:0 0 0.5em; margin:0; font-size:0.95em; line-height:1.1em;}
.SearchSpace form {padding:0; margin:0;}
.SearchSpace .SearchWidth {width: 250px;font-size: 1em;margin: 3px 0px;}
.SearchSpace .SearchWidthHalf {width: 120px;margin: 5px 4px 5px 0;}
.SearchSpace .SearchWidthRight {margin-right:0;}

.SearchSpace .tick {margin:2px;}
.SearchSpace .tickindent {margin-left:12px;}
.SearchSpace .SearchItem {margin: 10px 0 0;padding: 0;font-weight: bold;}
.SearchSpace a:link, .SearchSpace a:visited {text-decoration:none;}
.SearchSpace a:hover, .SearchSpace a:active {text-decoration:underline;}

.ListDropdown {width: 115px;margin:0px;padding-left: 8px;height:18px;}

/*Forms*/
#CentralSpaceLogin form {margin:0;padding:0;}
.Question{padding: 0.7em 0em 0.7em 0.5em;}
.QuestionSubmit{ padding: 1em 0em 1em 0.5em;}
.Question label, .QuestionSubmit label{ width: 300px;float: left;margin-top: 0.3em;padding-right:10px;}
.Question .customFieldLabel { width: auto; margin: 0;}
.Question .customFieldset { padding: 0; border: 0;}
.Question #capswarning { margin-left: 190px; display: none; color: red;font-weight: bold;}
.Question .Lineup {margin: 3px 0px;}
.Question .stdwidth,.stdwidth{width: 420px;font-size: 1em;margin: 3px 0px;}
.Question select {margin: 3px 0px;}
.Question .medwidth,.medwidth{width: 285px;font-size: 1em;margin: 3px 0px;}
.Question .shrtwidth,.shrtwidth{width: 145px;font-size: 1em;margin: 0px;}
.Question .vshrtwidth{width: 93px;font-size: 0.9em;margin: 3px 0px;}
.Question .medcomplementwidth{width: 105px;font-size: 1em;margin: 3px 0px 0px 2px;}
.Question .Inline {float: left;margin: 0 10px 0 0px;vertical-align: middle;}
.Question .Inline label { float: none; font-weight: normal; margin-top: 0; width: auto; }
.Question .tickset {float: left;}
.Question .OptionTable, .Question .OptionToggle {margin: 0 0 0 190px;padding:0;}
.Question .InnerLabel {width:90px; margin-top:  0px;}
.Question .ExifOptions {margin: 0 0 0 290px;padding:0;}
.WideTextQuestion label { width: 95%; float: right; }

.Question .indent {
    float:left;
    width: 700px;
}

.FormWide .Question label{width: 20%}
.FormWide .Question .Inline label { width: auto; }
.FormWide .Question .stdwidth, .FormWide .Question .tickset{width: 70%}
.FormWide .Question .tickset .stdwidth{width: 99%}
.FormWide .Question .FormHelp {margin: 0px 10px 4px 20%;}
.FormWide .Question .FormHelp .FormHelpInner {width: 87.2%; margin-left: 10px;}

.Question .Fixed {    width: 300px;float: left;margin-top: 0.4em;font-weight: bold;} 
.FormError{font-weight: bold;font-size: 1.1em;margin: 0px 0px 10px 190px;padding: 10px 0px 0px;}
.FormIncorrect {font-weight: bold;font-size: 1.1em;margin: 0px 0px 25px;text-align: center;padding: 3px 3px 6px;}
.PageInformal, .PageInfoMessage{ font-weight: bold; font-size: 1.1em; margin: 15px 0px 10px; text-align: center; padding: 3px; border-radius:4px; }
.AutoSaveStatus {font-weight: bold;float:right;padding:6px 0 0;min-width:100px;}
.PurgeUsersMonths {width:4em;}
/*Record Panel layout*/
.RecordBox {margin: 20px 15px 15px 0px;}
.RecordPanel {padding: 15px 20px 15px 20px;}
.backtoresults {float: right;margin: 0.4em 0 0 0.25em;}
.backtoresults .upLink, .backtoresults .nextLink,.backtoresults .prevLink {
    padding-left:4px;padding-right:4px;
    margin-left:2px;
    border-left: none;
}
.backtoresults .nextLink,.backtoresults .prevLink,.backtoresults .maxLink {font-size:1.1em;}
.backtoresults .maxLink {padding-left:20px;}
.backtoresults .closeLink {padding-left:5px;font-size:1.3em;}

.backtoresults .prevLink:hover,.backtoresults .nextLink:hover,.backtoresults .closeLink:hover,.backtoresults .maxLink:hover {text-decoration:none;}

.RecordPanel .RecordResouce {position:relative;clear: left;} 
.RecordPanel .Picture {margin: 0 auto;display: block;width: auto;max-width: 720px;}
#previewimagewrapper {float:left;margin: 0px 15px 15px 0px; position: relative; min-width: 720px;}

/* Larger layout changes */
.RecordPanelLarge #previewimagewrapper {float: none; text-align: center; margin: 0px 15px 10px 0;}
.RecordPanel.RecordPanelLarge .Picture {display: inline-block; max-width: unset;}
.RecordPanel.RecordPanelLarge .RecordDownload {width: 100%;}
.RecordPanel.RecordPanelLarge #ResourceDownloadOptions {
    width: 70%;
    float: left;
    margin-right: 3%;
    clear: left;
}
.RecordPanel.RecordPanelLarge .RecordDownloadSpace {
    padding: 6px 1rem;
}
.RecordPanelLarge #ResourceToolsContainer {
    display: inline-grid;
}

.RecordPanel .RecordDownloadSpace .DownloadDBlend .AltThumbLink,
.RecordPanel .RecordDownloadSpace .DownloadDBlend .AltThumbLink:hover,
.RecordPanel .RecordDownloadSpace .DownloadDBlend .AltThumbLink:active  {
    background-color: white;
    box-shadow: unset;
}

.RecordPanel .PictureDoc {float: left;margin: 50px 130px;}

.RecordPanel .Detail {float: left;}

.RecordPanel form { margin:0; padding:0;}
.RecordPanel .Title {padding:0.1em 0 0.5em;font-size:1.25em;clear: left;}

.NoFind {font-size: 1.1em;margin: 50px 0px 25px;text-align: center;padding: 1rem;border-radius: 4px;}

.RecordPanel .Col {float: left;width: 352px;margin-bottom: 10px;}
.RecordPanel .ColNarrow {float: left;width: 171px;margin-bottom: 10px;}
.RecordPanel .buffer {margin-right: 10px;}
.RecordPanel .itemNarrow {word-wrap: break-word; float: left;width: 170px;margin-right: 5px;position:relative; padding-top: 10px;padding-left: 10px;} 
.RecordPanel .SearchSimilar {float: left;width: 120px;margin: 0px 10px 2px 0px;padding: 0px;}
.RecordPanel .item {word-wrap: break-word; float: left;margin: 10px;width: 100%;position:relative;}
.RecordPanel .item h3, .RecordPanel .itemNarrow h3, th {font-size: 1em;margin: 0px;padding: 0px;text-transform: uppercase; font-size: 0.875rem; color: #999;}
.RecordPanel .item p, .RecordPanel .itemNarrow p {margin: 0px;padding: 0px;}
.RecordPanel .RecordDownload {float: left;width: 445px;margin: 0 0 10px 0;}
.RecordPanel .RecordDownload table {width: 100%;margin: 0px;padding: 0px;}
.RecordPanel .RecordDownload td {padding: 5px 5px 5px 0;margin: 0;}
.RecordPanel .RecordDownload .DownloadDBlend td {margin: 0;vertical-align: middle;}
.RecordPanel .RecordDownloadSpace {padding: 5px 10px 0 10px;}
.RecordPanel .RecordDownloadSpace ul {padding:0.2em 0;margin:0;margin-top: 5px;list-style:none;}
.RecordPanel .RecordDownloadSpace li {padding:0;margin:0 12px 3px 0;float:left;min-width:198px;}
.RecordPanel .RecordDownloadSpace li a:hover {text-decoration:none;}

.RecordPanel .RecordDownloadSpace .DownloadDBlend .DownloadButton {text-align: center;font-weight: bold;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend h2 {margin:0;padding:0;font-size: 1em;    text-align: left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend p {margin:0;padding:0;    text-align: left;}

.RecordStory {padding: 8px;}
.RecordStory h1{font-size:1.25em; padding:0.5em 0 0.5em 0; margin:0;}

.RecordPanel h2{font-size:1.25em; padding:0; margin:0.2em 0 0.2em 0;font-weight:normal;}
.RecordPanel p{padding:0; margin:0.5em 0 0.5em 0;}

/* Basic page */
.BasicsBox {margin: 15px 15px 10px 0px;}
.BasicsBox h1 {padding: 0px 0px 0.5em;}
.BasicsBox h2 {font-size: 1.2em;margin-bottom: 4px;}
.BasicsBox .HorizontalNav ul {padding:0.2em 0;margin:0 0 1.5em;list-style:none;}
.BasicsBox .HorizontalNav li {display:inline;padding:0em 0.9em 0em 0em;margin:0em 0.5em 0em 0em;}
.BasicsBox .VerticalNav ul {padding:0.2em 0;margin:0 0 1em;list-style:none;}
.BasicsBox .VerticalNav li {padding:0 0.35em 0 0em;margin:0px 0.5em 0.75em 0px;}
.nopadding,.nopadding .VerticalNav ul {padding:0px;margin:0px;}
.nopad, .BasicsBox .nopad {padding:0px;}

/* Themes */
.ThemeBox {float: left;width: 250px;margin: 0px 15px 15px 0px;padding: 0px;}
.ThemeBox ul {padding:0.2em 0;margin:0 0 0.5em;list-style:none;}
.ThemeBox li {padding:0 0.35em 0 0em;margin:0px 0.5em 0.25em 0.25em;}

/*Home styling */
.HomePanel {margin:15px 15px 0 0;width: 250px;float: left;} 
.HomePanelIN {padding: 15px;min-height: 150px;}
.HomePanel h2 {display:block;margin: 5px 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.HomePanel p {margin: 0; padding: 5px 0 4px 0;}
.HomePicturePanel {    margin:0px 15px 10px 0px;float: left;width: 517px;}
.HomePicturePanelIN img {width:517px; height:350px;}
.HomePicturePanelIN {height: 350px;}

.HomePanelPromotedImageWrap {text-align:center;min-height:155px;vertical-align:middle;}
#SlideshowContainer #HomeSiteText {width: 100%;clear: left;}
a.HomePanel {text-decoration:none;}
a.HomePanel {cursor:pointer;}

.TabBar {padding:8px 0 0 0;margin-bottom: -1px; background-color: #ededed;}
.Tab a {margin:0 5px 0 0;padding:5px 1rem;display:inline-block; border-top-right-radius:5px;border-top-left-radius:5px;}
.Tab a:hover {text-decoration: none;}
.Tab {display:inline;}
.StyledTabbedPanel {
    clear:left;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
}
.TabSelected {margin-right: 5px;}
.TabSelected a { margin: 0;}

.infotable {border-top: 1px solid #999999;}
.infotable td,.infotable th {border-bottom: 1px solid #999999;}

.RecordStory .highlight {padding:2px;}

#InfoBox {display:none;position:absolute;top:0px;left:0px;width:362px;height:303px;background-repeat:no-repeat;
behavior: url('../css/iepngfix.htc');
}
#InfoBoxInner {margin:15px 32px 15px 18px;height:210px;overflow:hidden;}
#InfoBoxInner h2 {font-size:1.2em;}
#InfoBoxInner p {padding:0;margin:0 0 5px 0;}

#InfoBoxCollection {display:none;position:absolute;top:0px;left:0px;width:376px;height:112px;background-repeat:no-repeat;
behavior: url('../css/iepngfix.htc');
}
#InfoBoxCollectionInner {margin:6px 32px 10px 20px;height:90px;overflow:hidden;}
#InfoBoxCollectionInner h2 {font-size:1.2em;font-weight:bold;text-align:left;}
#InfoBoxCollectionInner p {padding:0;margin:0 0 5px 0;text-align:left;}
.InfoTable td {padding:10px;}

.PDFnav {font-size: 4em; padding:6px;font-weight:bold;}
.PDFnav:hover {text-decoration: none;}

.NewFlag {display:inline;font-size:0.6em;margin-left:5px;padding:1px 3px 1px 3px;}
.Breadcrumbs {float:left;margin-top:4px;}
.SearchBreadcrumbs {margin-top:15px;}
.SearchTitle {padding: 0px;margin-top:15px;}
.SearchTitle + p{padding-bottom: 0px;}
.SearchBreadcrumbs + .RecordHeader .SearchTitle {margin-top:0px;}

.CategoryBox {overflow:auto;width:414px;height:80px;padding:2px;font-size:1em;}
.MiniCategoryBox {overflow:auto;width:auto;height:80px;padding:2px;font-size:1em;}
 
.CategoryTree {overflow:auto;width:420px;height:400px;display:none;}
.backline {
    background-image: url(../gfx/interface/line.gif);
    background-position: 14px 0px;
    background-repeat: repeat-y;
}
.node_parent_chosen_selector {
    width: 200px;
}

.URLDisplay {width: 100%;font-size: 1em;}

/* Autocomplete dropdown CSS */
div.autocomplete {
    position:absolute;
    width:250px;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    cursor:pointer;
}

/* user ratings */
.RatingCount {font-size:0.8em;}
.RatingStars {text-align:center;margin-bottom:5px;margin-top:5px;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend .RatingStarsContainer a {line-height: unset; display: unset; background-color: unset; padding: 0; box-shadow: none;}
#RatingCount {display: inline-block;}
#UserRatingMessage {padding-left: 10px;}

/* CSS for the lightbox (for resource feedback) */
#lightbox{  position: absolute; left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }
.lightboxOverlay {z-index: 10;}

#outerImageContainer{ position: relative; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}

#imageDataContainer{font-size: 0.7em; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%   ; }

#imageData{padding:0 10px;}
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }  
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;  }           
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}      

#overlay{position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px;}

.FormHelp{margin: 0px 0px 10px 310px;padding: 0;}
.FormHelpInner{width:408px;padding:5px;margin:10px 0 0 0;}

#ThemeBox {padding:0;margin:0;text-align:left;width: 170px;}
#ThemeBoxPanel {width: 170px;padding:0;margin:0;}

.DownloadDisabled {font-weight: normal;}

.AltThumb {float:left;padding-right:5px;max-width:85px;max-height:75px;}

/* single file upload progress bar */
.meter-wrap{position: relative;width:290px;}
.meter-value {height: 10px;}

.SearchOptionNav {padding:0 20px 5px 0;float:left;}
.dynamickeywords {float:left;}
.keywordsselected {margin-top:10px;}

#easyTooltip{
    width: 156px;
    padding:5px;
    }

#advancedTooltip{
    padding:5px;
    width: auto;
    max-width: 420px;
    }

#LoadingBox
    {
    position: absolute;
    top:300px;
    left: 40%;
    font-size:150%;
    width:200px;padding:30px;
    z-index:99999;
    display:none;
    border-radius:5px;
    }

.plupload_container {min-height:500px;}
.plupload_droptext {font-size:20px;line-height:400px;}
.plupload_wrapper, .plupload_header_title {font-family: inherit;}
.plupload_header {display:none;}
.plupload_content {top:0 !important;}
.ui-widget-content {border:3px dashed #ccc;border-radius:10px;}

#showlog,#hidelog
    {
    margin-top:10px;
    }
    
.ui-layout-pane
    {
    overflow: auto;
    }

.InfoBoxResourceTypeIcon
    {
    float:right;clear:right;padding:10px 0 10px 10px;
    }
.spacer 
    {
    height: 8px;
    }
.CollapsibleSectionHead 
    {
    cursor: pointer;
    }
.CollapsibleSectionHead:hover
    {
    color: #757575;
    }

h2.CollapsibleSectionHead, h1.CollapsibleSectionHead
    {
    padding: 0.1em 0 0.5em 0;
    }

.CollapsibleSection 
    {
    margin-bottom: 10px;
    margin:10px 15px 15px 0;
    }

/* Resource commenting */
#CommentsPanelHeader { display: table; width: 100%; }
#CommentsPanelHeaderRow { display: table-row;}
#CommentsPanelHeaderRowPolicyLink { margin-top:-10px;text-align: right; padding-right: 5px; display: table-cell;}
#CommentsContainer { width: 100%;}
.CommentEntry { margin-top: 10px; width: 600px; border: 1px solid lightgray; border-radius: 4px; padding: 8px; background: white;}
.CommentEntryInfoContainer {width: 100%;}
.CommentEntryInfo { width: 100%;}
.CommentEntryInfoCommenterName { font-weight: bolder; }
.CommentEntryInfoCommenterEmail { font-size: 0.75em;}
.CommentEntryInfoCommenterWebsite{ font-size: 0.75em;}
.CommentEntryInfoDetails { display: table-cell; font-size: 0.75em;}
.CommentEntryInfoFlag{display: inline-flex;}
.CommentFlag{display: inline; margin-right: 12px;}
.CommentFlagged{display: inline; margin-right: 10px;}
.CommentFlagged i {color: #F44336;}
.CommentBody{width: 100%; margin-top: 10px; margin-bottom: 10px;}
.CommentFlagReason{width: 100%; height: 60px;}
.CommentFlagFullname {margin-top: 5px; width: 150px;}
.CommentFlagEmail{margin-top: 5px; margin-left: 5px; width: 150px;}
.CommentFlagSubmit{margin-top: 5px; margin-bottom: 5px; }
.CommentFormFullname {margin-top: 5px; width: 170px;}
.CommentFormEmail{margin-top: 5px; margin-left: 5px; width: 220px;}
.CommentFormWebsiteURL{margin-top: 5px; margin-left: 5px; width: 189px;}
.CommentFormSubmit{margin-top: 5px; margin-bottom: 5px;}
.CommentFormBody {width: 600px; height: 60px; font-size: 1em;}
.CommentRespond {display: inline-block; width: auto; margin-right: 12px;}

.collectionscompactstylespacer {height:25px;}

.Terms
    {
    padding: 6px;
    width: 70%;
    max-height: 300px;
    overflow: auto;
    clear:none;
    }

/* Search bar resource types */
#searchbarrt
    {
    margin-top:10px;    
    }

#themeselect
    {
    width: 200px;
    font-size: 1em;
    margin-bottom:10px;
    }
#themeviewall
    {
    display:block;
    margin-bottom:10px;
    }

/* Search view icons */
.smalllisticon, .smalllisticonactive, .xlthumbsicon, .xlthumbsiconactive, .smallthumbsicon, .smallthumbsiconactive, .largethumbsicon, .largethumbsiconactive, .stripicon, .stripiconactive
    {
    padding-left: 3px;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    }

.smalllisticon{background: url(../gfx/interface/listicon.svg) no-repeat 0px; opacity: 0.65;}
.smalllisticonactive {background: url(../gfx/interface/listiconactive.svg) no-repeat 0px;}
.xlthumbsicon{background: url(../gfx/interface/xlicon.svg) no-repeat 0px; opacity: 0.65;}
.xlthumbsiconactive {background: url(../gfx/interface/xliconactive.svg) no-repeat 0px;}
.smallthumbsicon{background: url(../gfx/interface/smallicon.svg) no-repeat 0px; opacity: 0.65;}
.smallthumbsiconactive{background: url(../gfx/interface/smalliconactive.svg) no-repeat 0px;}
.largethumbsicon{background: url(../gfx/interface/largeicon.svg) no-repeat 0px; opacity: 0.65;}
.largethumbsiconactive{background: url(../gfx/interface/largeiconactive.svg) no-repeat 0px;}
.stripicon{background: url(../gfx/interface/stripicon.svg) no-repeat 0px; opacity: 0.65;}
.stripiconactive{background: url(../gfx/interface/stripiconactive.svg) no-repeat 0px;}

.icondisplay
    {
    margin-right: 10px;
    margin-top: 3px;
    }

#searchSortOrderContainer, #resultsdisplay, .InpageNavLeftBlock {
    vertical-align: top;
}

#SearchResultFound {
    padding-top: 3px;
}

#contactadminbox  textarea{
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px;
    }
    
.contactadminbutton  {
    float:right;
    margin-bottom: 10px;    
    margin-left: 10px;
    width: 150px;
    }

#ssearchbox {margin-top:10px;}

.CollectionsCompactToolsContainerDummy, .CollectionsCompactToolsContainer {display:inline-block;}
#GeoDragMode{margin-bottom: 10px;}

.sharerelatedresources {
    float: left;
    width: 65%;
    }   
    
.sharerelatedtype .CollectionPanelShell{
    height: 150px;
    }

.sharerelatedresources .Title {
    margin-bottom: 10px;
    font-weight: bold;
    }

/*Accessibility (screen readers)*/
.accessibility-hidden {
    height: 1px;
    width: 1px;
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
}
.collectionin {
    text-align: center;
}
.ViewPanelTitles {
    clear: left;
    margin-bottom: 8px;
}
.ViewPanelTitles .Title {
    border-bottom: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 36px;
    opacity: 0.4;
    cursor: pointer;
}
.ViewPanelTitles .Selected {
    opacity: 1;
}
#submissionResponse {padding-left: 300px;}

.upload_results {
    margin-top: 10px;
}
.SearchResultsCollectionCompactTools {display:inline-block;}

#merge_filename_title_container {
    float: left;
}

#merge_filename_title_spacer {
    width: 30px;
    text-align: center;
}

/* Dash Styling */
#HomePanelContainer {
  width: 100%;
}
#SlideshowContainer {
    float:left;
}
#HomePanelContainer a {-webkit-user-drag: none;}

.HomePanelPromotedIN h3 {
    padding-top:20px;
}
a.HomePanel:hover {
    border-radius:4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.HomePanelDynamicDash p.tile_corner_box {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    font-size: 1.5em;
}
.DashTileDraggable {
    cursor:pointer;
}
.HomePanelDynamicDash, .HomePanelThemes {
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 180px;
    width: 100%;
}
.HomePanelDynamicDash h2, .HomePanelThemes h2, .FeaturedSimpleTileContents h2 {
    float: none;
    position: relative;
    padding: 8px 15px 0 15px;
    margin-bottom: 0;
    font-size: 1.2em;
}
.HomePanelDynamicDash h2 span, .HomePanelThemes h2 span, .FeaturedSimpleTileContents h2 span {
    padding-right: 8px;
    font-size: 1.2em;
}
.HomePanelDynamicDash p, .HomePanelThemes p {
    float: none;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    clear: left;
    font-size:1em;
}
.DoubleWidthDashTile {
    /*Note: check .HomePanel width to be sure it is ok*/
    width: 515px;
}

.tools a{white-space: nowrap;}
#trash_bin_delete_dialog {display:none !important;}
.no-close .ui-dialog-titlebar-close {display: none;}

/* Plugin Categories Styling */
.plugin-category-container h3 {
    margin-left:10px;
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: pointer;
    padding-top: 5px;
    text-transform: capitalize;
}
.plugin-category-container .CollapsiblePluginList {margin-top:10px; margin-left: 30px;}
.plugin-category-container{margin-bottom:10px;}
.plugin-upload{margin-top:20px;}
#SearchPlugins, .ResultsFilterTopRight {
    float: right;
    font-size: 0.7em;
}

/* Maintenance Page */
#system_down_container {
        width: 500px;
        height: 200px;
        position: absolute;
        margin: -100px 0 0 -225px;
        left: 50%;
        top: 50%;
        text-align: center;
}

/* Global Trash Bin */
.trash_bin {
    width: 10%;
    min-width: 100px;
    padding-top: 8%; 
    display: none;
    position: fixed;
    top: 0px;
    left: 45%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.trash_bin_text {
    min-width: 100%;
    display: block;
    position: absolute;
    bottom: 8px;
    left: 0px;
    text-transform: capitalize;
    text-align: center;
    font-size: 100px;
}

.ui-state-active, .ui-state-hover {
    opacity: 0.5 !important;
}

div.video-js {margin:auto;}
.video-thumbs .vjs-control-bar {font-size:7px;}
.video-thumbs .vjs-control-bar .vjs-live-controls {display:none;}

/* Modals */

#modal_overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display:none;
    z-index: 100;
}
#modal_outer {
    z-index: 101;
}
#modal
    {
    position:absolute;
    width: 1235px;
    text-align:left;
    opacity: 1;
    display:none;
    overflow-y: auto;
    z-index: 102;
    }
#modal .RecordBox
    {
    margin:0;
    }
#modal .RecordHeader
    {
    margin:-20px -20px 0 -20px;padding:14px 20px 0 20px;
    }
#modal .RecordHeader h1
    {
    padding: 0.1em 0 0.25em;
    }
#modal .BasicsBox h1
    {
    margin:-20px -20px 0 -20px;padding:14px 20px 10px 20px;
    }
#modal .BasicsBox, #modal #CollapsibleSections
    {
    margin:0;
    padding:20px 20px 0 20px;
    }
#modal .nopadding
    {
    padding:0;
    }
/* custom styling for image preview in edit modal */
#modal .PreviewImageBlock
    {
    float:right;
    width:35%;
    padding:20px;
    margin-top:-30px;
    }
#modal .PreviewImageBlock label
    {
    display:none;
    }
#modal .PreviewImageBlock .Question
    {   
    border:none;
    }

#modal_dialog, .ui-dialog
    {
    z-index: 103;
    }
        
#modal_dialog .MessageText {
    text-align:left;
    }

#modal .TopInpageNav {
    margin: 0;
    padding: 14px 20px 10px 20px;
}

#modal .TopInpageNav .TopInpageNavRight {
    padding: 14px 20px 10px 20px;
}

#modal .BasicsBox .HelpHeader a { color: #999; }
#modal .BasicsBox .HelpHeader .backtoresults { margin-top: 18px; }

.modalform {
    min-width: 600px;
    margin-bottom: 20px;
    }
/* Dropdown Actions */
#CollectionMenu .ActionsContainer {
    margin: 0;
}

.ListTools .ActionsContainer select {
    width: 150px !important; /*not permanent...until we get out of bug fix period*/
}

.ListTools .ActionsContainer .DropdownActionsLabel {
    display: none;
}

/* Drag & Drop */
#CentralSpaceResourceClone, #CollectionSpaceClone {
    text-align: left;
    opacity: 0.5 !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: initial;
}
.DropdownActionsLabel {display:inline-block;}

/* Messaging */
span.Pill {
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
}
div#MessageContainer {
    width: 200px;
    z-index: 90;
}
div.MessageBox {
    border-radius: 4px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
    min-height: 50px;
    cursor: pointer;
    line-height: 120%;
}
div.MessageBox a {
    margin-top: 1vh;
    max-width: 90% !important;
    word-wrap: break-word;
    text-decoration: underline !important;
}

.FeaturedSimpleLinks {
    display: table;
    width:100%;
}

.FeaturedSimpleTile {
    position: relative;
    margin-top: 10px;
    height: 150px;
    border-radius:5px;
    overflow: hidden;
}

.FeaturedSimpleTileImage .HomePanelIN {
    background: none;  
}

.FeaturedSimpleLinks .FeaturedSimpleTileContents {
    width:100%;
    height:100%;
    display: table;
}

.FeaturedSimpleTileText {
    vertical-align: middle;
    display: table-cell;
}
   
.FeaturedSimpleLink{
    position: absolute;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
 
a.FeaturedSimpleLink:hover, a.FeaturedSimpleLink:active  { 
    text-decoration:none;
}

.FeaturedCallToActionTile .FeaturedSimpleTileContents h2 {
    text-align: center;
}
.FeaturedCallToActionTile .FeaturedSimpleTileContents h2 span{
    font-size: 2em;
}

.FeaturedSimpleTile .FeaturedSimpleTileContents h2{
    background: transparent;
    margin: auto;  
    max-width: 215px;    
    white-space: normal;
}

.FeaturedSimpleTileActions {
    position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    height: 20px;
    text-align: right;
    z-index:2;
}

.FeaturedSimpleTileActions .tool {
    margin-left: 8px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 5px;    
}

.MessageUnread {
    font-weight: bold;
}
#toggleHiddenCollectionsLink{
    margin-left:10px;
}

#user_messages table tr {
    vertical-align:top;
    
}

#CentralSpaceLogin {
    position: relative;
}

#CentralSpaceLogin #login_box {
    margin-bottom: 100px;
    padding: 10px 15px 0px 15px;
    border-radius: 4px;
    position: absolute;
}

/* Manage External Shares */
.FormFilter {
    width: 700px;
}

.FilterItemContainer {
    margin-top: 10px;
}

.FilterItemContainer:nth-child(2) {
    margin-top: 0px;
}

.FilterItemContainer > label {
    width: 300px;
    float: left;
    margin-top: 0.4em;
}

#filter_date_from, #filter_date_to {
    width: 100px;
}

form.FormFilter button {
    display: block;
    margin-top: 20px;
    float: right;
}

form.FormFilter button.ClearButton {
    margin-right: 10px;
}

.HiddenTile {
    border: 1px solid red !important;
    margin: -2px ;
}

UL.jqueryFileTree A:hover {font-weight:bold;}

.CollectBack .CollectionResourceRemove, .CollectBack .CollectionResourceRemove:hover {text-decoration:none;}

.JumpPanel input
    {
    width:35px;
    }

/* Collapsible sections - using FontAwesome */
.collapsed:before {content: "\f054";    font: normal normal normal 14px "Font Awesome 5 Free";font-weight: 600;padding-right:12px; display: inline-block; width:0.6em;}
.expanded:before {content: "\f078";    font: normal normal normal 14px "Font Awesome 5 Free";font-weight: 600;padding-right:12px; display: inline-block; width:0.6em;/*! margin-right: 6px; */}

/* Subtext */
.sub {font-size:0.8em;}

.Highlight {background:#FFFF00;}

/* Pagers (Search, Collections, Shares etc.) */
.TeamExternalSharesPager {
    width: 240px;
    float: right;
    margin-top: -50px;
    margin-right: 10px;
}

#AdminManageMetadataFieldOptions > .TopInpageNavRight,
#AdminManageMetadataFieldOptions > .TopInpageNavRight > .TopInpageNavRight {
    position: inherit;
    padding-left: 250px;
    margin-bottom: 10px;
}

#AdminManageMetadataFieldOptions > .BottomInpageNav {
    width: 540px;
}


/* Custom filters (extends the default form filters in ResourceSpace) */
#FilterNodeOptions { width: 510px; }
#FilterNodeOptions .FilterItemContainer > label { width: 150px; }


.ImageStrip
    {
    height:150px;
    width:auto;
    margin:10px 10px 0 0;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    }

.ImageStrip:hover {
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    transform: scale(1.15);
}
    
#CentralSpaceResources  
    {
    text-align:justify;
    }
.ImageTools
    {
    position:absolute;display:inline;background-color:black;visibility:hidden;
    }
.ImageStripLink:hover .ImageTools
    {
    visibility:visible;
    }
    
.CollectionPanelTools {visibility:hidden;text-align:right;}
.CollectionPanelShell:hover .CollectionPanelTools {visibility:visible;}
#FilterNodeOptions .FilterItemContainer > label { width: 150px; }.tag-editor li { padding: initial; }

/* Pill-like display for keywords */
.ResponsiveViewFullSite { display: none; }
.Question .customFieldLabel {
    float:none;
    border-radius:4px;
    padding:3px 6px;
    margin-left:5px;
}

.keywordselected {
    display:inline;
    margin-right:5px;
    float:none; border-radius:4px;
    padding:3px 6px;
}
.customFieldset input[type=checkbox] {margin:0 2px 0 0;}
.keywordselected a {padding-left:8px;}
.RemoveKeyword {font-weight: bold; font-size: 1.2em;}

#photoholder {  
    margin-top: 15px;
}


#PreviewTools {
    height: 41px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#PreviewToolsOptionsWrapper {
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: #FFF;
    font-size: 26px;
}

.ToolsOptionLink {
    float: right;
    margin: 5px 10px 0px 0px;
}

.ToolsOptionLink:link, .ToolsOptionLink:visited {
    color: #FFF;
}

.ToolsOptionLink:hover {
    color: #79BC41;
    text-decoration: none;
}

.ToolsOptionLink.Enabled {
    color: #79BC41;
}

a.Enabled, a:visited.Enabled {
    color: #79BC41;
    text-decoration: underline;
}

.checkselect {float:left;padding-left:5px;}

.ResourcePanelResourceID {float:left;}

#Metadata {
    background-color: #FFF;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-bottom: 8PX;
}

.ReportSheet {padding:10px;}
.ReportSummary td {padding:10px;}
.ReportMetric {font-size:200%;padding-left:5px;}
.ReportAddToDash {font-size:65%;}

#modal #CentralSpaceResources {padding:20px;} /* extra spacing needed when results displayed in a modal - e.g. geographical search */

.ListTools a, .SingleLine {
    white-space: nowrap;
}
.TableOrderBy {
    width:100px;
}


/* Breadcrumbs */
.BreadcrumbsBox {
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 0em 1em 1em 0em;
    margin: 0em 1em 1em 0em;
    padding: 0.66em;
    background: rgba(0, 0, 0, 0.65);
}
.BreadcrumbsBox > .SearchBreadcrumbs{
    margin: 0;
}

/* Colour picker */
#tile_style_colour {
    display: none;
}

.lockedQuestion .fieldset, .lockedQuestion table, .lockedQuestion input, .lockedQuestion select, .lockedQuestion textarea, .lockedQuestion .keywordselected, .lockedQuestion .CategoryBox{
   font-weight: bold;
}

.lock_icon {
    float: right;
    height: 30px;
}

/* jQuery UI */
.ui-menu-item {
    text-align: left;
}

.HeaderSearchForm {padding:0;margin:0;display:inline;}
.NoSearchBar {padding-right:0 !important;}

#OverFlowLinks {
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93));
    display: none;
    position: absolute;
    right: 100px;
    border-radius: 0 0 4px 4px;
    z-index: 500;
}

#HiddenLinks li {
    display: block;
}

.HelpHeader {
    margin-bottom: 20px;
}

#modal #SearchBox, #modal #SearchBoxPanel {
    margin: 0;
}

#Header #ssearchbox {
    margin-top: 0;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
}

#previewimage {
    max-height: 600px;
}

#preview {
    box-shadow: 0 2px 6px rgba(0,0,0,0.2)
}

/* Configuration options */
select.MultiSelect {
    padding: 0;
    height: auto;
    background-image: none;
    box-shadow: none;
}
select.MultiSelect:before {
    content: unset;
}
.MultiRTypeSelect {
    background-color: #fff;
    width: 292px;
    padding: 3px;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 4px;
}
.RecordPanel .RecordDownloadSpace .DownloadDBlend .AltThumbLink {
    min-height: unset;
    padding: 0;
}

#ResourceToolsContainer h2 {
    margin-bottom: 6px;
}

.MultiLine {
    padding-top: 5px;
}

.searchcrumbs{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#previewimage.NoPreview {
    box-shadow: none;
}

/* Browse Bar */
#BrowseBarContainer {
    overflow: hidden;
    white-space: nowrap;
}
#BrowseBar {
    text-align: left;
    white-space: nowrap;
    height: 100%;
    float: left;
}
#BrowseBarContent {
    height: 100%;
    margin-left: 10px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 140px;
    padding-top: 10px;
}
.BrowseBarStructure {
    display: table-cell;
    min-width: 6px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-left: 10px;
}
.BrowseRowInner {
    display: table-row;
}
.BrowseBarExpand + a .BrowseTypeNode, .BrowseBarExpand + a .BrowseTypeRestype, .BrowseBarExpand + .BrowseTypeField, .BrowseBarExpand + a .BrowseTypeFeatured{
    padding-left: 5px;
}
.BrowseLine + .BrowseTypeNode, .BrowseLine + .BrowseTypeRestype, .BrowseLine + .BrowseTypeField, .BrowseLine + .BrowseTypeNew{
    margin-left: 6px;
}
.BrowseBarLink{
    display: table-cell;
    vertical-align: top;
    white-space: normal;
    padding-left: 4px;
}
#BrowseBar .BrowseLine {
    border-right: 1px solid;
    width: 6px;
}
#BrowseBarTabContainer{
    display: inline-block;
    right: 0px;
    height: 100%;
}
#BrowseBarTab {    
    position: relative;
    float: right;
    top: 130px;
    width:0px;
    height: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30px;
}
.BrowseBarTabText {
    margin-bottom: 10px;
    margin-left: 26px;
    padding-top: 80px;
    text-transform: capitalize;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    font-size: 1.2em;
}
#BrowseBarContainer a:hover, .BrowseBarItem a:hover, #BrowseBarContainer a:visited, .BrowseBarItem a:visited{
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}
.BrowseTypeRestype:after, .BrowseTypeField:after, .BrowseTypeFeatured:after, .BrowseTypeState:after{
    content: "\f07b";
}  

.BrowseOpen .BrowseTypeRestype:after, .BrowseOpen .BrowseTypeField:after, .BrowseOpen .BrowseTypeFeatured:after, .BrowseOpen.BrowseTypeState:after{
    content: "\f07c";
}
.browse_closed:after {
    content: "\f0fe";
}
.browse_expanded:after {
    content: "\f146";
}    
.BrowseTypeNode:after {
    content: "\f02b";
} 
.BrowseTypeCol:after {
    content: "\f009";
} 
.BrowseTypeNew:after {
    content: "\f055";
}  
a.BrowseRefresh{
    display:none;
    font-size: 0.8em;
}
.BrowseOpen .BrowseRefresh{
    display: table-cell;
    padding-left: 5px;
}
.ui-layout-west{overflow-x: hidden;}
.ui-layout-resizer-west{transform: translateX(-37px);} 

/* Fix scrollbars on Header */
#Header {
    overflow: hidden;
}

.RecordPanelLarge #ResourceWorkflowActions, .RecordPanelLarge #RecordDownloadSummary {
    width: 100%;
}

.UploadButton a
    {
    border-radius:4px;    
    padding:0 10px 0 10px;
    opacity:0.9 !important;
    margin-right:10px;
    }
.UploadButton a:hover
    {
    opacity:1 !important;
    }

.HelpLink {
    font-size: 1rem;
    vertical-align: text-top;
}

#FilterBarContainer { padding: 10px 10px; text-align: left; color: #FFF; }
#FilterBarContainer .SearchWidth, #FilterBarContainer .CategoryBox { width: 380px; }
#FilterBarContainer > .BasicsBox { margin: initial; }
#FilterBarContainer .CollapsibleSectionHead, #FilterBarContainer .Question a { color: #FFF; }
#FilterBarContainer .Question { padding: 0.5em 0em 0.3em 0em }
#FilterBarContainer .Question, #FilterBarContainer .QuestionSubmit,
#FilterBarContainer .Question:last-of-type, #FilterBarContainer .QuestionSubmit:last-of-type { border-bottom: initial; }
#FilterBarContainer .Question label, #FilterBarContainer .QuestionSubmit label { margin: 5px; padding: initial; font-weight: bold; }
#FilterBarContainer .QuestionSubmit { padding: initial; }
#FilterBarContainer .Question table { display: inline-block; width: 100%; max-height: 100px; overflow-y: scroll; } /* Intended for checkboxes rendering */
#FilterBarContainer .Question input[readonly="readonly"] { width: 365px; } /* Contributed By */
#FilterBarContainer .Question #autocomplete { width: 255px; } /* Contributed By */
#FilterBarContainer .Question .keywordselected { float: left; margin: 0px 0px 5px 5px; } /* Dynamic keywords list */
#FilterBarContainer .Question .customFieldLabel { float: none; border-radius: 4px; margin-left: 5px; padding: 3px 6px; background-color: #2e99e6; color: #fff; }
#FilterBarContainer .BoldMargin { margin-left: 15px; font-size: 1.2em; font-weight: bolder; }
#FilterBarContainer .CloseButtonLink { text-decoration: none; }
#FilterBarContainer .CloseButtonLink:hover { color: #dadada; text-decoration: none; }
#ActiveFilters { z-index: 999; position: sticky; position: -webkit-sticky; top: -10px; margin: 0px 0px 15px 0px; border-top-left-radius: initial; border-top-right-radius: initial; background: #808080; box-shadow: 0px 20px 10px -15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
#FilterBarContainer #ActiveFilters { padding: 0.5em 0em 0.7em 0em; }
#FilterBarContainer .CollapsibleSection { margin: initial; }
#FilterBarContainer #AdvancedSearchMediaSection .Question label { float: initial; }
#FilterBarContainer #AdvancedSearchMediaSection .SplitTextQuestionContent { margin: 10px 0px 0px 5px; }
#FilterBarContainer #AdvancedSearchMediaSection input.SplitSearch { width: 80px; }
#FilterBarContainer .Question .indent, #FilterBarContainer .Question .stdwidth, #FilterBarContainer .stdwidth { width: initial; }
#FilterBarContainer div[class*='_range'] select { width: 89px; }

.FullWidth { width: -webkit-fill-available; }
.InsetBottomShadow { background: rgba(0, 0, 0, 0.2); }
