parameters:
	ignoreErrors:
		-
			message: "#^Undefined variable\\: \\$error$#"
			count: 1
			path: include/database_functions.php

		-
			message: "#^Undefined variable\\: \\$lang$#"
			count: 1
			path: pages/setup.php

		-
			message: "#^Undefined variable\\: \\$altfile$#"
			count: 1
			path: pages/tools/staticsync.php

		-
			message: "#^Undefined variable\\: \\$altpath$#"
			count: 1
			path: pages/tools/staticsync.php
