includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - api
        - batch
        - css
        - include
        - languages
        - pages
        - plugins
        - tests
        - upgrade
        - lib/stemming

    scanDirectories:
      - lib/html2pdf/
      - lib/Diff/
      - lib/PHPMailer/
      - lib/tus/

    excludePaths:
        analyse:
            - include/ReplaceFunctionCallRector.php
            - plugins/*/lib/*

    earlyTerminatingFunctionCalls:
        - errorhandler

    ignoreErrors:
        - '#^Variable \$[a-zA-Z0-9_]+ might not be defined\.$#'