parameters:
	ignoreErrors:
		-
			message: "#^Undefined variable\\: \\$error$#"
			count: 1
			path: include/database_functions.php

		-
			message: "#^Undefined variable\\: \\$lang$#"
			count: 1
			path: include/general_functions.php

		-
			message: "#^Undefined variable\\: \\$result$#"
			count: 1
			path: include/general_functions.php

		-
			message: "#^Undefined variable\\: \\$limit$#"
			count: 2
			path: include/message_functions.php

		-
			message: "#^Undefined variable\\: \\$msgfind$#"
			count: 2
			path: include/message_functions.php

		-
			message: "#^Undefined variable\\: \\$sort_desc$#"
			count: 1
			path: include/message_functions.php

		-
			message: "#^Undefined variable\\: \\$editexpiration$#"
			count: 1
			path: include/render_functions.php

		-
			message: "#^Undefined variable\\: \\$password$#"
			count: 1
			path: include/render_functions.php

		-
			message: "#^Undefined variable\\: \\$access_key$#"
			count: 1
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$anonymous_login$#"
			count: 1
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$ignore_permissions$#"
			count: 1
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_collection$#"
			count: 3
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_group$#"
			count: 1
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_order_by$#"
			count: 1
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_resource$#"
			count: 2
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_sort$#"
			count: 1
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_type$#"
			count: 2
			path: include/resource_functions.php

		-
			message: "#^Undefined variable\\: \\$share_user$#"
			count: 4
			path: include/resource_functions.php

		-
			message: "#^Function GetStem not found\\.$#"
			count: 1
			path: include/search_do.php

		-
			message: "#^Undefined variable\\: \\$lang$#"
			count: 1
			path: pages/setup.php

		-
			message: "#^Undefined variable\\: \\$altfile$#"
			count: 1
			path: pages/tools/staticsync.php

		-
			message: "#^Undefined variable\\: \\$altpath$#"
			count: 1
			path: pages/tools/staticsync.php

		-
			message: "#^Undefined variable\\: \\$original_download_name$#"
			count: 1
			path: plugins/adobe_link/hooks/view.php

		-
			message: "#^Undefined variable\\: \\$resource$#"
			count: 1
			path: plugins/flickr_theme_publish/inc/flickr_functions.php

		-
			message: "#^Caught class Google_ServiceException not found\\.$#"
			count: 5
			path: plugins/youtube_publish/include/youtube_functions.php
