
@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1,h2,h3,h4,h5,h6,.Title {font-family: Montserrat, Arial, Helvetica, sans-serif;}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,.ui-widget, body, input, textarea, select, button {font-family: Montserrat, Arial, Helvetica, sans-serif;}